
  <div class="index-welcome jumbotron">
  <div class="container">
  	<div class="transparent-box">
  	  <h1>Welcome to UperFit</h1>
      <h2>Your source for natural fitness products</h2>
    </div> <!--end of transparent-box -->   
  </div> <!--end of container -->
</div>

